.dot {
  stroke: #fff;
  stroke-width: 1.5px;
  opacity: .5;
}
.axis{
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}
.timeline {
  fill: white;
  stroke: grey;
  stroke-dasharray: 2,2;
  stroke-dashoffset: 2;
}
.label {
	fill: black;
}
.arrow {
  stroke: #000;
  stroke-width: 1.5px;
}
.link {
	fill: none;
	stroke: #999;
	stroke-width: 0.5px;
}
.trace {
  stroke: #fff;
  stroke-width: 1.5px;
  opacity: .3;
}
.focused {
  stroke: #fff;
  stroke-width: 1.5px;
  opacity: .6;
}
.category {
	fill: #ffffcc;
	stroke: lightgrey;
	stroke-width: .5px;
}
.toolbar {
	fill: black;
	width: 300px;
	height: 50px;
}
body {
  font: 10px sans-serif;
}