<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Co-Evolution</title>
    <!-- <script type="text/javascript" src="d3.js"></script> -->
    <script src="/static/js/d3.v2.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/coevolution.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <style>
  .ui-autocomplete-loading {
    background: white url('/static/img/loading.gif') right center no-repeat;
  }
  </style>
      <script>

  </script>
  </head>
  <body>
  	<div id="controls" class="toolba ui-widget">
	  	author : <input type="text" id="add"></input>
	  	<input type="button" value="add" onclick="coevol.add(null)"/>
	  	<input type="button" value="remove" onclick="coevol.remove(null)"/>
  	</div>
  	<br>
    <div id="chart"></div>
    <script type="text/javascript" src="/static/js/coevolution.js"></script>
  </body>
</html>
